name: Firebase Integration Tests

on:
  push:
    branches: [ "main" ]
    # run this workflow only if changes were made to the firebase package
    # or a subpackage
    paths:
      - 'firebase/**'
  workflow_dispatch:

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - uses: actions/setup-node@v3
      with:
        node-version: '16'
    - run: npm install -g firebase-tools
    - run: >
          firebase -P "demo-project" -c "./firebase/.firebase.json" emulators:exec
          "go test -v -count=1 ./firebase/emulator &&
          go test -v -count=1 ./firebase/auth && 
          go test -v -count=1 ./firebase/firestore"
      env:
        FIREBASE_PROJECT_ID: demo-project
        FIREBASE_AUTH_EMULATOR_HOST: localhost:9099
        FIRESTORE_EMULATOR_HOST: localhost:8080
